target/

node_modules/
vite.generated.ts
.idea/workspace.xml

*.xml
*.lock
*.class
*.jar
*.war
*.iml
.idea/
*.log

dist/
.vscode/

/target/
.gradle
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

.DS_Store

node_modules/
src/main/frontend/generated/
pnpmfile.js
.npmrc
webpack.generated.js

drivers/

error-screenshots/

.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

.idea
*.iws
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.mvn/
mvnw


