.main-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
:root {
    --background-color: rgba(0, 0, 0, 0);
    --text-color: hsl(0, 0%, 100%);
}


.top-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 3rem;
    border-width: 1px;
}


.recommendations{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 9rem;
    padding: 10px;
}

.filter {
    position: absolute;
    max-height: 20rem;
    height: 100%;
    max-width: 100%;
    width: 100%;
    z-index:-1;
    background: rgb(98, 96, 168);
    background: linear-gradient(90deg, rgba(6, 2, 19, 0.75) 0%, rgba(27,17,65,1) 50%, rgba(6, 2, 19, 0.75));
    border-radius: 20px;
}

.whole-top{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 10px 5px 5px #1a1141;

}

.recommendations::-webkit-scrollbar {
    display: none;
}

.recommendations img{
    border-radius: 30px;
    height: 9rem;
    width: 9rem;
    margin: 5px;
}


.search-button-main, .manual-button-main {
    background: rgb(150,95,217);
    background: radial-gradient(circle, rgba(150,95,217,1) 0%, rgba(59,6,124,1) 100%);
}

.search-button-main, .manual-button-main, .devices-button-main {
    color: white;
    font-weight: 600;
    font-size: small;
    max-width: 30%;
    min-width: 30%;
    padding: 0;
    box-shadow: 10px 5px 5px rgba(5, 5, 19, 0.55);
}
.text-main {
    font-size: medium;
    font-weight: bold;
    padding: 20px;
    color: #9b6eff;
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.buttons-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding: 5px;
}


.device-image {
    position: relative;
    max-width: 2rem;
    max-height: 2rem;
    height: 2rem;
    width: 2rem;
}

.puls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 100%;
}

.pulses {
    position: absolute;
    transform: translate(-50%, -50%); /* Shift back to truly center */
    width: 100px;
    height: 100px;
}

.pulses::before,
.pulses::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.78);
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 100%;
    top: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.33);
    animation: pulse-ring 2s linear infinite;
}

@keyframes pulse-ring {
    0% {
        transform: translate(-50%, -50%) scale(0.33);
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}


.luna{
    width: 100%;
}

.luna-main {
     position: sticky;
     margin-bottom: 2rem;
     bottom: 0;

}
.background{
    position: relative;
    width: 3.7rem;
    height: auto;
    margin-bottom: 3rem;
    margin-top: 3rem;
    box-shadow: 5px 5px 5px rgb(20, 20, 26);
    border: none;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 50%;
    transition: all 0.3s ease;
    background: rgb(59,6,124);
    background: radial-gradient(circle, rgba(59,6,124,1) 0%, rgba(150,95,217,1) 50%, rgba(59,6,124,1) 100%); 
    display: grid;
    z-index: -1;
}
.background::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.background::before {
    content: "";
    background: linear-gradient(                                                                              
            45deg,
            rgba(139, 71, 225, 0.36), rgba(66, 68, 119, 0.52), rgba(55, 28, 91, 0.8), rgba(43, 50, 84, 0.56),
            rgba(255, 255, 255, 0.41), rgba(98, 96, 168, 0.23), rgba(95, 0, 211, 0.58), rgb(76, 74, 147)
    );                                                                                                        
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}


.background:hover::before {
    opacity: 1;
}

.background:active:after {
    background: transparent;
}

.luna-image-main::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.luna-image-main::before {
    content: "";
    background: linear-gradient(                                                                        
            45deg,
            rgba(13, 40, 73, 0.3), rgba(66, 68, 119, 0.52), rgba(21, 15, 79, 0.66), rgba(43, 50, 84, 0.56),
            rgba(255, 255, 255, 0.41), rgba(98, 96, 168, 0.23), rgba(21, 15, 79, 0.53), rgba(0, 0, 0, 0.42)
    );                                                                                                  
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(11px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}

.luna-image-main:hover::before {
    opacity: 1;
}
.luna-image-main:active:after {
    background: transparent;
}
.luna-image-main {
    width: 5rem;
}


vaadin-text-field::part(input-field),
vaadin-avatar,
vaadin-menu-bar-button{
    background-color: rgba(27,17,65,1);

}

vaadin-menu-bar[has-single-button] {

}

vaadin-text-field {
    max-width: 15rem;
    color: white;
}


vaadin-menu-bar-item[aria-haspopup] {
    background: rgb(150,95,217);
    background: radial-gradient(circle, rgba(150,95,217,1) 0%, rgba(59,6,124,1) 100%);
    display: flex;
    gap: 4px;
}



vaadin-menu-bar-overlay::part(overlay){
    display: flex;
    justify-content: space-around;
    gap: 5px;
    max-width: 100%;
    height: 10rem;
}

vaadin-menu-bar-overlay [role="menuitem"] {
    margin: 5px;
}




.menu-img{
    max-width: 1rem;
    position: fixed;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: inherit;
}
.empty{
    margin-bottom: 2rem;
    width: 100%;
    height: 6rem;
}


.quick-main{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.upper-quick-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;

}

.upper-quick-main h3{
    font-weight: normal;
    font-size: medium;
}

.bottom-quick {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;

}

.quick{
    width: 10rem;
    height: 10rem;
    background: rgba(150, 95, 217, 0.33);
    background: radial-gradient(circle, rgba(150, 95, 217, 0.44) 0%, rgba(59, 6, 124, 0.44) 100%);
}



/*062C43 , 054569 , 5591A9 , 9CCDDC , CED7E0    */













