.main-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
:root {
    --background-color: rgba(0, 0, 0, 0);
    --text-color: hsl(0, 0%, 100%);
}


.top-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    width: 100%;
    height: 3rem;
    border-width: 1px;
}


.recommendations{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    overflow-x: auto;
    overflow-y: hidden;
    box-sizing: border-box;
    white-space: nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    height: 9rem;
    padding: 10px;
}

.filter {
    position: absolute;
    max-height: 20rem;
    height: 100%;
    max-width: 100%;
    width: 100%;
    z-index:-1;
    background: rgb(98, 96, 168);
    background: linear-gradient(90deg, rgba(6, 2, 19, 0.75) 0%, rgba(27,17,65,1) 50%, rgba(6, 2, 19, 0.75));
    border-radius: 20px;
}

.whole-top{
    width: 100%;
    height: 20rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: -45px;
}

.recommendations::-webkit-scrollbar {
    display: none;
}

.recommendations img{
    border-radius: 30px;
    height: 9rem;
    width: 9rem;
    margin: 5px;
}

/*
.search-button-main, .manual-button-main {
    background: rgb(150,95,217);
    background: radial-gradient(circle, rgba(150,95,217,1) 0%, rgba(59,6,124,1) 100%);
}
}
.devices-button-main {
    color: white;
    font-weight: 600;
    font-size: small;
    max-width: 30%;
    min-width: 30%;
    padding: 0;
    box-shadow: 10px 5px 5px rgba(5, 5, 19, 0.55);}
*/
.search-button-main, .manual-button-main, .devices-button-main{
    color: white;
    font-weight: 600;
    font-size: small;
    position: relative;
    text-align: start;
    max-width: 30%;
    min-width: 30%;
    border: 1px solid transparent;
    padding: 0.75rem; /* p-3 */
    border-radius: 0.5rem; /* rounded-lg */
    overflow: hidden;
    text-decoration: underline;
    text-underline-offset: 0.125rem; /* underline-offset-2 */
    transition: all 0.5s ease; /* duration-500 */
}

.search-button-main:hover, .manual-button-main:hover, .devices-button-main:hover {
    color: #4c4a93;
    text-decoration-thickness: 2px;
    text-underline-offset: 0.25rem;
    border-color: #4c4a93;
    background-color: #a4c1ff;
}

.text-main {
    font-size: medium;
    font-weight: bold;
    padding: 20px;
    color: rgb(255, 255, 255);
}
.text-main:hover {
    font-weight: normal;
    color: rgba(255, 255, 255, 0.8);
    transition: font-weight 400ms;
}

.main-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.buttons-main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    width: 100%;
    padding: 5px;
}


.device-image {
    position: relative;
    height: 2rem;
    width: 2rem;
    right: -50px;
    top: 4px;
    display: inline-block;
}
.device-image:hover {
    animation: searching 300ms forwards !important;
}

@keyframes searching {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

.puls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    width: 100%;
}

.pulses {
    position: relative;
    transform: translate(-50%, -50%); /* Shift back to truly center */
    width: 100px;
    height: 100px;
    left: -16px;
    bottom: -4px;
}

.pulses::before,
.pulses::after {
    content: "";
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.78);
    width: 100%;
    height: 100%;
    opacity: 0;
    left: 100%;
    top: 100%;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0.33);
    animation: pulse-ring 2s linear infinite;
}

@keyframes pulse-ring {
    0% {
        transform: translate(-50%, -50%) scale(0.33);
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0;
    }
}

@keyframes pulse-dot {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}

.background{
    position: relative;
    width: 57px;
    height: 57px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    box-shadow: 5px 5px 5px rgb(20, 20, 26);
    border: none;
    font-size: 20px;
    border-radius: 50%;
    transition: all 0.3s ease;
    background: rgb(59,6,124);
    background: radial-gradient(circle, rgba(59,6,124,1) 0%, rgba(150,95,217,1) 50%, rgba(59,6,124,1) 100%); 
    display: grid;
    z-index: -1;
    right: 4px;
}
.background::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
}

.background::before {
    content: "";
    background: linear-gradient(                                                                              
            45deg,
            rgba(139, 71, 225, 0.36), rgba(66, 68, 119, 0.52), rgba(55, 28, 91, 0.8), rgba(43, 50, 84, 0.56),
            rgba(255, 255, 255, 0.41), rgba(255, 255, 255, 0.99), rgba(95, 0, 211, 0.58), rgb(220, 110, 196)
    );                                                                                                        
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 50%;
    opacity: 0;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
    100% {background-position: 0 0;}
}


.background:hover::before {
    opacity: 1;
}

.background:active:after {
    background: transparent;
}

.luna-image-main::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.luna-image-main::before {
    content: "";
    background: linear-gradient(                                                                        
            45deg,
            rgba(13, 40, 73, 0.3), rgba(66, 68, 119, 0.52), rgba(21, 15, 79, 0.66), rgba(43, 50, 84, 0.56),
            rgba(255, 255, 255, 0.41), rgba(98, 96, 168, 0.23), rgba(21, 15, 79, 0.53), rgba(0, 0, 0, 0.42)
    );                                                                                                  
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height:  calc(100% + 4px);
    filter: blur(11px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 0;
}



.luna-main {
    position: sticky;
    margin-bottom: 50px;
    padding-bottom: 100px;
    bottom: 0;
    max-width: 50px;
    height: 50px;

}

.luna-image-main:hover::before {
    opacity: 1;
}
.luna-image-main:active:after {
    background: transparent;
}
.luna-image-main {
    width: 60px;
}


vaadin-text-field::part(input-field),
vaadin-avatar,
vaadin-menu-bar-button{
    background-color: rgba(82, 75, 126, 0.78);
    border: none;
}

vaadin-text-field::part(input-field):hover,
vaadin-avatar:hover,
vaadin-menu-bar-button:hover{
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
    background-color: rgb(26, 17, 65);
    transition: background-color 400ms, box-shadow 400ms;
}

vaadin-text-field::part(input-field):focus-within,
vaadin-avatar:focus-within,
vaadin-menu-bar-button:focus-within{
    box-shadow: 0 0 30px rgb(150, 95, 217);
    background-color: rgb(92, 74, 147);
    transition: background-color 1s, box-shadow 400ms;
}


vaadin-text-field {
    max-width: 15rem;
    color: white;
}


vaadin-menu-bar-item[aria-haspopup] {
    background: transparent;
    display: flex;
    gap: 4px;
}

vaadin-menu-bar-item[aria-haspopup]:hover {
    background-color: #3b3272;
    transition: background-color 400ms;
    font-weight: bold;
}




vaadin-menu-bar-overlay::part(overlay){
    display: flex;
    justify-content: space-around;
    gap: 5px;
    max-width: 100%;
    height: 10rem;
    background-color: #524b7e;
}

vaadin-menu-bar-overlay [role="menuitem"] {
    margin: 5px;
}




.menu-img{
    max-width: 1rem;
    animation: rotate 1s linear infinite;
    animation-play-state: paused;
    animation-delay: inherit;
}
.empty{
    margin-bottom: 2rem;
    width: 100%;
    height: 6rem;
}


.quick-main{
    display: flex;
    flex-direction: column;
    gap: 5px;
}


.upper-quick-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;

}

.upper-quick-main h3{
    font-weight: normal;
    font-size: medium;
}

.bottom-quick {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: start;

}

.quick{
    width: 10rem;
    height: 10rem;
    background: rgba(150, 95, 217, 0.33);
    background-color: #67527e;
}
.quick{
    border: 1px solid #d4c6e8;
    box-shadow: 0 6px 10px rgba(207, 212, 222, 0.5);
    border-radius: 10px;
    text-align: center;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    transition: all 0.3s ease;
}

.quick:hover {
    transform: translateY(-10px);
}



/*062C43 , 054569 , 5591A9 , 9CCDDC , CED7E0    */













